/mydataset/FPS1024
/mydataset/ycb_video_obj_ply
/mydataset/my_train
/mydataset/my_val
/mydataset/my_test
/mydataset/small_train
/mydataset/small_val
/mydataset/small_test
/mydataset/**
!mydataset/*.py
/logs
__pycache__

Notebooks/pyn**

*.swp
wandb-debug.log
.DS_Store
logs
summary*
run*
offline-run*

.scale_batch_size_**
checkpoint/
wandb/
outputs/
